{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name figwheel.connect.build-devcards, :imports nil, :requires {devcards.core devcards.core, clj102.core clj102.core, figwheel.client figwheel.client, figwheel.client.utils figwheel.client.utils}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros {devcards.core devcards.core}, :cljs.analyzer/constants {:seen #{:build-id :websocket-url :devcards :open-urls}, :order [:devcards :open-urls :build-id :websocket-url]}, :doc nil}